* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#gameBoard {
    visibility: hidden;
    position: absolute;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    height: 75vh;
    width: 75vh;
    border: 5px gray solid;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#gameName {
    text-align: center;
    color: rgb(200, 135, 49);
    font-size: 50px;
}

.btn {
    position: absolute;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.btn:hover {
    background-color: #deb887;
}

#dimensionsContainer {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
}

#mapDimensionsLabel {
    margin-right: 15px;
}

.inputPadding {
    padding: 5px 15px;
}

#startGame {
    visibility: visible;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -95%);
}

#resetGame {
    visibility: hidden;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -80%);
}

#nextMove {
    visibility: hidden;
    left: 40%;
    top: 5%;
    transform: translate(-50%, -15%);
}

#startAutoGame {
    visibility: hidden;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -15%);
}

#stopAutoGame {
    visibility: hidden;
    left: 60%;
    top: 5%;
    transform: translate(-50%, -15%);
}

#randomMapFill {
    position: absolute;
    left: 55%;
    top: 46%;
}

.inputLabel {
    color: skyblue;
    font-size: 25px;
}

#howManyMovesAtOnceContainer {
    visibility: hidden;
    position: absolute;
    left: 5%;
    top: 5%;
}

.field {
    flex-grow: 1;
    border: 2px black solid;
}

.cell {
    background-color: greenyellow;
}